@use '../variables' as *;
@use '../mixins' as *;

.social-links {
	@include flex-center(1.5rem);
	margin-top: 1rem;

	a {
		color: var(--text-color);
		font-size: 1.5rem;
		transition: opacity $transition-medium;

		&:hover {
			opacity: 0.8;
		}
	}
}
