@use 'variables' as *;
@use 'mixins' as *;
@use 'breakpoints' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:
    background-color $transition-medium,
    color $transition-fast,
    border-color $transition-medium;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  margin: 0 auto;
  padding: 2rem;

  @include sm {
    max-width: #{$breakpoint-lg};
  }

  @include lg {
    max-width: 70vw;
  }
}
