@use 'variables' as *;

@media (max-width: $breakpoint-md) {
	.about-content {
		grid-template-columns: 1fr;
		text-align: center;

		.profile-image {
			margin: 0 auto;
		}
	}

	.theme-switcher {
		top: 0.5rem;
		right: 0.5rem;
	}
}
